@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* @tailwind base; */
@tailwind components;
@tailwind utilities; 
:root{
    --first-color:rgb(0, 47, 255);
    --second-color:rgb(36, 36, 36);
    --thrid-color:rgb(236, 236, 236);
    --font-color-1:black;
    --font-color-2:white;
    --font-1:'Noto Sans'
}
*{
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-1);
    text-decoration: none;
}
body{
    width: 100%;
    height: 100%;
    font-size: 16px;
}